* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: $body-bgc;
    // background-image: url('https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp1906828.jpg&f=1&nofb=1');

    .container {
        @include container;
    }
}

h2 {
    color: $h2-color;
}
